@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Archivo Light", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Infini Bold", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 2px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--color-bg: var(--color-bg-cream);
	--color-fg: var(--color-t-blue);
	--color-primary: var(--color-h-blue);
	--color-link: var(--color-q-red);
	--color-focus: var(--color-q-red);
	--color-mark: var(--color-t-blue);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-bg-cream);
	--color-button-bg: var(--color-h-blue);
	--color-button-fg: var(--color-t-blue);
	--color-button-hover: var(--color-q-red);
	--color-input-bg: var(--color-bg-cream);
	--color-input-fg: var(--color-t-blue);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* this is a starting place for dark mode - test before deploying */

/* @media screen and (prefers-color-scheme:dark) {
	:root {
		--color-bg: var(--color-gray-900);
		--color-fg: var(--color-gray-100);
		--color-primary: var(--color-white);
		--color-link: var(--color-white);
		--color-focus: var(--color-red);
		--color-mark: var(--color-yellow);
		--color-selection: var(--color-gray-600);
		--color-border: var(--color-gray-600);
		--color-button-bg: var(--color-gray-600);
		--color-button-fg: var(--color-gray-100);
		--color-button-hover: var(--color-gray-700);
		--color-input-bg: var(--color-gray-800);
		--color-input-fg: var(--color-gray-100);
		--color-placeholder: var(--color-gray-400);
		--color-text-outline: var(--color-bg);
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

#text, label {
	font-family: "Archivo" !important;
	
}

h1, h2, h3, h4, h5, h6, th, legend {
	font-family: "Infini Bold" !important;
	color: var(--color-h-blue);
	padding: 2px;
	/* background-color: var(--color-bg-cream-transparent); */
}



h1 {
	color: var(--color-t-blue) !important;
}

article > h2{
	font-family: "Infini Bold" !important;
	color: var(--color-t-blue) !important;
	background: var(--color-bg-cream-transparent) !important;
	padding: 0px !important;
}

b, strong, label, input, button {
	font-family: "Infini Bold" !important;
}

q, cite, blockquote {
	font-family: "Infini Bold" !important;
	font-weight: 300;
	color: var(--color-q-red);
	padding: 2px;
	background-color: var(--color-bg-cream-transparent);
}

.no-background {
	background: none  !important;
}

/* style scrolly background images */
.has-fixed-background {
	background-size:contain; 
	/* background-position: center; */
	background-attachment: fixed; 
	background-repeat: no-repeat;
}

section {
	margin-top: 4em;
	margin-left: 1em;
	margin-right: 1em;
}

p > img {
	height: auto;
}


