/* National */
@font-face {
	font-family: "National 2 Web";
	src: url("https://pudding.cool/assets/fonts/national/National2Web-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "National 2 Web";
	src: url("https://pudding.cool/assets/fonts/national/National2Web-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Tiempos Text */
@font-face {
	font-family: "Tiempos Text Web";
	src: url("https://pudding.cool/assets/fonts/tiempos/TiemposTextWeb-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Tiempos Text Web";
	src: url("https://pudding.cool/assets/fonts/tiempos/TiemposTextWeb-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

/* Archivo */
@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 300;
	font-stretch: 100%;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/archivo/v18/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTajNZ9xdp.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@layer base {
	@font-face {
		font-family: 'Infini Bold';
		src: local('Infini Bold'), local('Infini-Bold'), local('infini bold'), local('infini-bold'),
			url('/fonts/Infini-Bold/infini-gras.otf');
		font-weight: normal;
		font-display: swap;
	}
}